.theme {
  height: 100vh;
  .sidenav-wrapper {
    width: 120px;

    position: relative;
    z-index: 1000;
  }
  .main-container {
    width: calc(100% - 120px);
    height: 100%;

    .header-wrapper {
      height: 70px;
      position: fixed;

      background: #ffffff;
      z-index: 99999;
      width: 100%;
      top: 0;
      right: 0;
    }
    .content-wrapper {
      height: calc(100% - 70px);
      margin-top: 70px;
    }
  }
}

//css for mobile device
@media (max-width: 850px) {
  .theme {
    .sidenav-wrapper {
      width: 0px;
      display: none;
    }
  }
  .theme {
    .main-container {
      width: 100%;
    }
  }
}
