.testscroll ::-webkit-scrollbar {
  width: 8px;
}

a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
/* Track */
.testscroll ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.testscroll ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 30px;
}

/* Handle on hover */
.testscroll ::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.sidebar {
  height: 100vh;
  background: #ffff;
  transition: 0.5s all;
  z-index: 10px;
  position: fixed;
  top: 11px;
  bottom: 0;
width: 121px;

  .menu-list {
    height: 100%;
    overflow: auto;
    font-size: 18px;
    border-right: 1px solid #dddddd;
    ul {
      padding: 0px;
      margin: 0px;
      li {
        text-align: center;
        padding:0px;
        border: 1px solid #dddddd;
        border-bottom: none;
        border-right: none;
        color: #d5102e;
        min-height: 60px;
        .padding-adjust{
            padding: 18px;
        }
        i {
          font-size: 25px;
        }
        span {
          font-size: 13px;
        }
      }

      li:hover {
        background-color: #002266;
        color: white;
      }
      li {
        .active {
          background-color: #002266;
          color: #ffff;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .sidebar.active {
    left: -260px;
  }
  .sidebar.inactive {
    left: 0;
    z-index: 15;
  }
  .header.active {
    width: 100%;
  }
  .header.inactive {
    width: calc(100% - 260px);
  }
}

//media query for responsive

@media (max-width: 850px) {
  .sidebar {
    display: none;
  }
  .sidenav-wrapper {
    width: 0px;
  }
}
